.secondaryButton {
  border-radius: 11px;
  background-color: black;
  border: none;
  height:45px;
  width:180px;
  font-weight:600;
  font-size:20px;
  letter-spacing: 1px;
  box-shadow: rgba(255,255,255,.5) 0px 7px 20px -8px;
  transition: all .2s;
}

.secondaryButton:hover {
  background-color: rgb(30, 30, 30);
}
.secondaryButton:active {
  box-shadow: none;
}

.primaryButton {
  border-radius: 11px;
  background-color: var(--yellow-2);
  border: none;
  height:45px;
  width:180px;
  font-weight:600;
  font-size:20px;
  letter-spacing: 1px;
  box-shadow: rgba(255,255,255,.5) 0px 7px 20px -8px;
  transition: all .2s;
}

.primaryButton:hover {
  background-color: var(--yellow-3);
}
.primaryButton:active {
  box-shadow: none;
}