#robotpic {
    position: absolute;
    height: 400px;
    top: calc(50vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(25vw - 200px)
}

#label {
    background-color: #2F2103;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    height: 50px;
    font-family: var(--font-roboto);
    padding:5px 15px;
    color: #A87A17;
    font-weight: 500;
    border: solid #A87A17 1px;
    letter-spacing: 1px;
    margin-top: 15px;
}

.secondarytextGradient {
	background-image: linear-gradient(90deg,#F5F5F5, #E6DD5E);
	color: transparent;
	background-clip: text;
}

#logincontainer {
    background-color: black;
    width: 30%;
    border-radius: 20px;
    position: absolute;
    box-shadow: rgba(255,255,255,.2) 0px 4px 21px 5px;
    right: 10vw;
    height: 60vh;
    top: 20vh;
    padding: 30px 40px;
    z-index: 10;
}

#loginheader {
    font-family: var(--font-zalando);
    font-weight: 200;
}
#welcomeText {
    font-family: var(--font-zalando);
    line-height: 2px;
    color:#949393;
}
#horizontalrule {
    opacity: 1;
    border-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #D0C9B1, #6A675A);
    z-index: 10;
}
.inputLabel {
    font-family: var(--font-zalando);
    font-weight: 200;
    font-size: 15px;
    margin-bottom:5px;
    margin-top:5px;
    color:white;
}

.input {
    font-family: var(--font-zalando);
    background-color: black;
    padding:10px;
    border: 1px solid #949393;
    font-size: 15px;
    width:100%;
    border-radius:10px;
    color:#949393;
    padding-left:15px;
    margin-bottom: 15px;
    letter-spacing: .2px;
}

.input:focus {
    outline: 1px solid #949393;
}

#loginbutton {
    margin-top:20px;
    width:100%;
    margin-bottom:40px;
     background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
              linear-gradient(to bottom, #B57C02, #332405) border-box;
  border: 1px solid transparent;
}

.textGradient {
	background-image: linear-gradient(135deg,#A87A17, #745209);
	color: transparent;
	background-clip: text;
}

.loginbuttontext {
    font-family: var(--font-zalando);
    letter-spacing: 2px;
    font-weight: 200;
    width:100%;
}

#alreadyHaveAccount {
    color:#949393;
    font-family: var(--font-zalando);
    margin-right: 10px;
    font-weight: 100;
    font-size:13px;
}
#signup {
    text-decoration: none;
    color:white;
    font-size:13px;
    font-family: var(--font-zalando);
}