.contentData {
  margin-top: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: calc(100vh - 180px);
}
@media screen and (max-width: 994px) {
  .contentData {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: calc(100vh - 180px) !important;
  }
  .contentSorting {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
}

.contentSorting {
  margin-top: 10px;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0px 10px;
  min-height: calc(50vh - 10px);
}
