#nopartcats {
    text-align: center;
    display: flex;
    width:100vw;
    height:100vh;
    position: absolute;
    top:0px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}


.plateslist {
  /* background-color: blue; */
  /* width:100vw; */
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  top: 100px;
  height: calc(100vh - 100px);
  padding:20px;
  display:flex;
  flex-wrap: wrap;
  gap:15px;
  /* justify-content: space-between; */

}

.platecard {
  /* max-width: 500px; */
  flex: 1 0 21%;
  min-width: 300px;
  background-color: black;
  height:300px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.31);
  transition: all .1s;
}

.platecard:hover {
  box-shadow:rgba(255,255,255,.2) 0px 0px 3px 3px;
}

#platecardheader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap:10px;
  padding:0px 18%;
  margin-top:10px;
  font-family: var(--font-roboto);
  color:white;
  font-size:25px;
  font-weight:500;
  letter-spacing: 1px;
}

#platecardinfo {
  display: flex;
  padding: 0px 18%;
  justify-content: space-between;
  font-family: var(--font-zalando);
  color:#949393;
}

#platecardunique {
  text-align: right;
}
#partcardheaderthickness {
  text-align: right;
}
#platecardinfo > p {
  margin-bottom:10px;
}

#horizontalrule {
  opacity: 1;
  border-width: 1px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #D0C9B1, #6A675A);
  z-index: 10;
  margin-left: 10%;
  margin-right:10%;
  margin-top:0px;
}

#platecardpartstable {
  color:#BCBCBC;
  margin:0 10%;
  width: 80%;
}

#platecardpartstable > tbody > tr {
  display: flex;
  width:100%;
  justify-content: space-between;
}

#openiconcontainer {
  position:absolute;
  bottom:8px;
  right:8px;
}
#openicon { 
  width:15px;
  height:15px;
}

#boxtubesblur {
  width: 100vw;
  height:100vh;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 10;
}

#boxtubes {
  width: 400px;
  height: 100vh;
  position: fixed;
  background-color: black;
  right:0;
  top:0;
  z-index: 10;
  border-left:1px #E6DD5E solid;
  box-shadow: rgba(255,255,255,.2) -5px 0px 5px 1px;
}

.boxtubecard {
  width:90%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #393939;
  padding:10px;
}

.dropdownicon {
  width: 20px;
  height:20px;
}
.dropdownicon > img {
  width: 15px;
  height:15px;
}
#boxtubeheader {
  text-align: center;
  width:100%;
  margin-top:20px;
  font-family: var(--font-zalando);
  font-weight: 200;
}
.boxtubecardheader > h1 {
  font-size: 18px;
  width:200px;
  /* overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;*/
  text-wrap-mode:nowrap; 
}
.boxtubecardheader {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin-top:5px;
}

.boxtubecardcamdropdown {
  background-color: var(--yellow-2);
  display: flex;
  gap: 5px;
  padding: 8px;
  border-radius: 10px;
  font-family: var(--font-zalando);
  font-weight: 200;
  font-size: 15px;
  box-shadow: rgba(255,255,255,.4) 0px 2px 9px 2px;
}

.boxtubecardquantity {
  color:#BCBCBC;
}

.boxtubecardinfo {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-roboto);
  color:#BCBCBC;
  font-weight: 450;
  margin-top:5px;
}