.sidebar {
  position: fixed;
  left: 300px;
  height: calc(100vh - 140px);
  top: 140px;
  /* background-color: blue; */
  width: 200px;
}
.icon {
  width: 20px;
  height: 20px;
}
.sidebar > div {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 20px;
  padding: 3px 0px 3px 30px;
  border-radius: 10px;
  color: white;
  transition: background-color .3s;
  font-size: 18px;
}
.sidebar > div:hover {
  background-color: rgba(255,255,255,.15);
}
.sidebar > hr {
  margin: 5px 0px;
  margin-left: 10px;
  border: .5px solid rgba(128,128,128,.77);
  opacity: 1;
}
#selected {
  opacity: 1;
  position: absolute;
  left: 5px;
  height: 30px;
  width: 10px;
  background-color: var(--yellow-1);
  border-radius: 10px;
  transition: top .3s;
  top: 0;
}
.main {
  position: absolute;
  top: 110px;
  left: 300px;
  width: calc(80vw - 300px)
}